### p70 practice

In [2]:
getwd()

[1] "/Users/YorkLin/lecture/riii/cb102"

In [3]:
setwd('/Users/YorkLin/lecture/riii')

In [4]:
getwd()

[1] "/Users/YorkLin/lecture/riii"

In [5]:
tw2330 = read.csv('./data/2330.csv',header=T)

In [6]:
head(tw2330)

  Date       Open  High  Low   Close Volume
1 2018-04-30 224.5 228.0 222.5 227.0  6448117
2 2018-04-27 225.0 225.5 221.0 223.5  7619247
3 2018-04-26 225.0 225.5 221.0 222.0 10731921
4 2018-04-25 225.5 226.0 224.0 225.0 10535437
5 2018-04-24 225.0 227.5 225.0 227.0  9272078
6 2018-04-23 226.5 227.5 225.0 226.5 16080436

In [8]:
tail(tw2330,10)

     Date       Open High Low  Close Volume
1792 2011-01-14 74.4 74.8 74.1 74.8   2220105
1793 2011-01-13 75.1 75.3 74.2 74.6   6938412
1794 2011-01-12 74.7 75.0 74.7 74.9   4014373
1795 2011-01-11 74.1 74.9 73.8 74.5   6162046
1796 2011-01-10 73.0 74.2 72.6 74.2   5110968
1797 2011-01-07 71.9 73.0 71.9 72.5  12335419
1798 2011-01-06 69.8 71.0 69.7 71.0   3295607
1799 2011-01-05 70.9 71.1 69.6 69.8   3811819
1800 2011-01-04 71.0 71.6 70.8 71.2   2567400
1801 2011-01-03 71.5 71.6 70.8 71.1   2541551

In [9]:
str(tw2330)

'data.frame':	1801 obs. of  6 variables:
 $ Date  : Factor w/ 1801 levels "2011-01-03","2011-01-04",..: 1801 1800 1799 1798 1797 1796 1795 1794 1793 1792 ...
 $ Open  : num  224 225 225 226 225 ...
 $ High  : num  228 226 226 226 228 ...
 $ Low   : num  222 221 221 224 225 ...
 $ Close : num  227 224 222 225 227 ...
 $ Volume: int  6448117 7619247 10731921 10535437 9272078 16080436 29507056 7758149 10130508 10232257 ...

In [11]:
class( as.Date(tw2330$Date) )

[1] "Date"

In [12]:
tw2330$Date = as.Date(tw2330$Date)

In [13]:
str(tw2330)

'data.frame':	1801 obs. of  6 variables:
 $ Date  : Date, format: "2018-04-30" "2018-04-27" ...
 $ Open  : num  224 225 225 226 225 ...
 $ High  : num  228 226 226 226 228 ...
 $ Low   : num  222 221 221 224 225 ...
 $ Close : num  227 224 222 225 227 ...
 $ Volume: int  6448117 7619247 10731921 10535437 9272078 16080436 29507056 7758149 10130508 10232257 ...

In [15]:
tw2330$Date[1]

[1] "2018-04-30"

In [16]:
tw2330$Date[2]

[1] "2018-04-27"

In [17]:
tw2330$Date[1] > tw2330$Date[2]

[1] TRUE

In [21]:
tw2330_2017 = tw2330[tw2330$Date >= '2017-01-01' & tw2330$Date <= '2017-12-31',]

In [25]:
tw2330_2017[order(tw2330_2017$Close,decreasing = T),][1,]

    Date       Open High  Low   Close Volume
102 2017-11-24 242  244.5 241.5 244   2716320

In [26]:
max(tw2330_2017$Close)

[1] 244

In [27]:
summary(tw2330_2017$Close)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  179.5   191.5   212.5   210.1   221.5   244.0

In [28]:
summary(tw2330_2017)

      Date                 Open            High            Low
 Min.   :2017-01-03   Min.   :179.5   Min.   :180.5   Min.   :179.0
 1st Qu.:2017-04-11   1st Qu.:191.6   1st Qu.:192.0   1st Qu.:189.6
 Median :2017-07-08   Median :212.0   Median :214.0   Median :211.2
 Mean   :2017-07-06   Mean   :210.0   Mean   :211.2   Mean   :208.8
 3rd Qu.:2017-10-01   3rd Qu.:221.4   3rd Qu.:222.8   3rd Qu.:220.0
 Max.   :2017-12-29   Max.   :244.5   Max.   :245.0   Max.   :242.0
     Close           Volume
 Min.   :179.5   Min.   :  320349
 1st Qu.:191.5   1st Qu.: 3737042
 Median :212.5   Median : 4719322
 Mean   :210.1   Mean   : 5281645
 3rd Qu.:221.5   3rd Qu.: 6085697
 Max.   :244.0   Max.   :24850555

In [30]:
li = list(thing='hat',size=8.25)

In [32]:
li$thing

[1] "hat"

In [33]:
li$size

[1] 8.25

In [35]:
li_2 = list('hat',8.25)

In [37]:
print(li_2)

[[1]]
[1] "hat"

[[2]]
[1] 8.25

In [38]:
li_2[[1]]

[1] "hat"

In [39]:
li_2[[2]]

[1] 8.25

### read json file

In [41]:
library(jsonlite)

In [42]:
download.file('https://www.railway.gov.tw/Upload/UserFiles/%E8%87%BA%E9%90%B5%E5%B1%80%E6%88%BF%E5%9C%B0%E7%94%A2%E5%87%BA%E7%A7%9F%E6%83%85%E5%BD%A2.json',destfile = './rent.json')

In [45]:
json_demo_file = fromJSON('./rent.json')

Warning message:
“JSON string contains (illegal) UTF8 byte-order-mark!”

In [46]:
str(json_demo_file)

'data.frame':	228 obs. of  12 variables:
 $ 縣市        : chr  "臺北市" "臺北市" "臺北市" "臺北市" ...
 $ 經管單位    : chr  "台北所" "台北所" "台北所" "台北所" ...
 $ 用途限制    : chr  "辦公或住宅或法律許可範圍" "辦公或住宅或法律許可範圍" "辦公或住宅或法律許可範圍" "辦公或住宅或法律許可範圍" ...
 $ 實際用途    : chr  "商店" "辦公室" "商店" "住家" ...
 $ 每月租金    : chr  "22900" "138000" "56899" "23050" ...
 $ 租期屆滿    : chr  "105.12.1-108.11.30" "104.06.07-107.06.06" "105.2.3-108.2.2" "104.05.28-107.05.27" ...
 $ 建物面積    : chr  "189.8" "220.49" "132" "102.545" ...
 $ 構造        : chr  "木石磚造" "磚造" "加強磚造" "加強磚造" ...
 $ 總樓層數    : chr  "1" "1" "2" "3" ...
 $ 建物現況    : chr  "B" "B" "A" "C" ...
 $ 房屋座落    : chr  "新北市淡水區鼻頭街10、11、12號(淡水鎮海鷗段316地號)" "臺北市大同區忠孝西路2段13號(大同區玉泉段2小段371-7、371-20、371-21地號)" "臺北市大同區赤峰街33巷4號(大同區圓環段二小段151地號)" "臺北市萬華區康定路56巷3弄3號(萬華區直興段1小段93地號)" ...
 $ 土地使用分區: chr  "工業區" "371-7,371-20為交通廣場用地, 371-21為道路用地" "第四種住宅區" "第四種商業區" ...

### read XML file

In [48]:
library(XML)

In [49]:
url = 'http://opendata.epa.gov.tw/ws/Data/ATM00698/?$format=xml'
tmp = xmlToDataFrame(url)

In [51]:
str(tmp)

'data.frame':	1000 obs. of  12 variables:
 $ SiteName           : Factor w/ 30 levels "阿里山","鞍部",..: 16 7 15 13 6 17 14 5 22 4 ...
 $ WindDirection      : Factor w/ 19 levels "","北","北北東",..: 19 18 6 10 9 13 19 7 6 14 ...
 $ WindPower          : Factor w/ 7 levels "","1","2","3",..: 6 4 2 2 5 4 7 3 3 2 ...
 $ Gust               : Factor w/ 4 levels "","6","7","8": 1 1 1 1 1 1 3 1 1 1 ...
 $ Visibility         : Factor w/ 16 levels "","0.1","10",..: 3 3 1 1 1 10 1 1 9 1 ...
 $ Temperature        : Factor w/ 227 levels "－(－)","12.7(+0.2)",..: 175 202 156 203 201 209 73 216 214 122 ...
 $ Moisture           : Factor w/ 33 levels "","100","65",..: 23 22 24 27 18 18 23 4 11 32 ...
 $ AtmosphericPressure: Factor w/ 49 levels "","-999.9","1000.0",..: 30 40 20 12 11 3 15 5 6 4 ...
 $ Weather            : Factor w/ 8 levels "","多雲","晴",..: 3 4 1 1 1 3 1 1 2 1 ...
 $ Rainfall1day       : Factor w/ 22 levels "","0.0","0.5",..: 2 2 16 8 2 2 2 2 2 12 ...
 $ Unit               : Factor w/ 1 level "中央氣象局": 1 1 1 1 1 1 1 1 1 1 ...
 $ DataCreationDate   : Factor w/ 8 levels "107/8/14 2:00:00",..: 8 8 8 8 8 8 8 8 8 8 ...