### p70 practice

In [2]:
getwd()

[1] "/Users/YorkLin/lecture/riii/cb102"

In [3]:
setwd('/Users/YorkLin/lecture/riii')

In [4]:
getwd()

[1] "/Users/YorkLin/lecture/riii"

In [5]:
tw2330 = read.csv('./data/2330.csv',header=T)

In [6]:
head(tw2330)

  Date       Open  High  Low   Close Volume
1 2018-04-30 224.5 228.0 222.5 227.0  6448117
2 2018-04-27 225.0 225.5 221.0 223.5  7619247
3 2018-04-26 225.0 225.5 221.0 222.0 10731921
4 2018-04-25 225.5 226.0 224.0 225.0 10535437
5 2018-04-24 225.0 227.5 225.0 227.0  9272078
6 2018-04-23 226.5 227.5 225.0 226.5 16080436

In [8]:
tail(tw2330,10)

     Date       Open High Low  Close Volume
1792 2011-01-14 74.4 74.8 74.1 74.8   2220105
1793 2011-01-13 75.1 75.3 74.2 74.6   6938412
1794 2011-01-12 74.7 75.0 74.7 74.9   4014373
1795 2011-01-11 74.1 74.9 73.8 74.5   6162046
1796 2011-01-10 73.0 74.2 72.6 74.2   5110968
1797 2011-01-07 71.9 73.0 71.9 72.5  12335419
1798 2011-01-06 69.8 71.0 69.7 71.0   3295607
1799 2011-01-05 70.9 71.1 69.6 69.8   3811819
1800 2011-01-04 71.0 71.6 70.8 71.2   2567400
1801 2011-01-03 71.5 71.6 70.8 71.1   2541551

In [9]:
str(tw2330)

'data.frame':	1801 obs. of  6 variables:
 $ Date  : Factor w/ 1801 levels "2011-01-03","2011-01-04",..: 1801 1800 1799 1798 1797 1796 1795 1794 1793 1792 ...
 $ Open  : num  224 225 225 226 225 ...
 $ High  : num  228 226 226 226 228 ...
 $ Low   : num  222 221 221 224 225 ...
 $ Close : num  227 224 222 225 227 ...
 $ Volume: int  6448117 7619247 10731921 10535437 9272078 16080436 29507056 7758149 10130508 10232257 ...

In [11]:
class( as.Date(tw2330$Date) )

[1] "Date"

In [12]:
tw2330$Date = as.Date(tw2330$Date)

In [13]:
str(tw2330)

'data.frame':	1801 obs. of  6 variables:
 $ Date  : Date, format: "2018-04-30" "2018-04-27" ...
 $ Open  : num  224 225 225 226 225 ...
 $ High  : num  228 226 226 226 228 ...
 $ Low   : num  222 221 221 224 225 ...
 $ Close : num  227 224 222 225 227 ...
 $ Volume: int  6448117 7619247 10731921 10535437 9272078 16080436 29507056 7758149 10130508 10232257 ...

In [15]:
tw2330$Date[1]

[1] "2018-04-30"

In [16]:
tw2330$Date[2]

[1] "2018-04-27"

In [17]:
tw2330$Date[1] > tw2330$Date[2]

[1] TRUE

In [21]:
tw2330_2017 = tw2330[tw2330$Date >= '2017-01-01' & tw2330$Date <= '2017-12-31',]

In [25]:
tw2330_2017[order(tw2330_2017$Close,decreasing = T),][1,]

    Date       Open High  Low   Close Volume
102 2017-11-24 242  244.5 241.5 244   2716320

In [26]:
max(tw2330_2017$Close)

[1] 244

In [27]:
summary(tw2330_2017$Close)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  179.5   191.5   212.5   210.1   221.5   244.0

In [28]:
summary(tw2330_2017)

      Date                 Open            High            Low
 Min.   :2017-01-03   Min.   :179.5   Min.   :180.5   Min.   :179.0
 1st Qu.:2017-04-11   1st Qu.:191.6   1st Qu.:192.0   1st Qu.:189.6
 Median :2017-07-08   Median :212.0   Median :214.0   Median :211.2
 Mean   :2017-07-06   Mean   :210.0   Mean   :211.2   Mean   :208.8
 3rd Qu.:2017-10-01   3rd Qu.:221.4   3rd Qu.:222.8   3rd Qu.:220.0
 Max.   :2017-12-29   Max.   :244.5   Max.   :245.0   Max.   :242.0
     Close           Volume
 Min.   :179.5   Min.   :  320349
 1st Qu.:191.5   1st Qu.: 3737042
 Median :212.5   Median : 4719322
 Mean   :210.1   Mean   : 5281645
 3rd Qu.:221.5   3rd Qu.: 6085697
 Max.   :244.0   Max.   :24850555

In [30]:
li = list(thing='hat',size=8.25)

In [32]:
li$thing

[1] "hat"

In [33]:
li$size

[1] 8.25

In [35]:
li_2 = list('hat',8.25)

In [37]:
print(li_2)

[[1]]
[1] "hat"

[[2]]
[1] 8.25

In [38]:
li_2[[1]]

[1] "hat"

In [39]:
li_2[[2]]

[1] 8.25

### read json file

In [41]:
library(jsonlite)

In [42]:
download.file('https://www.railway.gov.tw/Upload/UserFiles/%E8%87%BA%E9%90%B5%E5%B1%80%E6%88%BF%E5%9C%B0%E7%94%A2%E5%87%BA%E7%A7%9F%E6%83%85%E5%BD%A2.json',destfile = './rent.json')

In [45]:
json_demo_file = fromJSON('./rent.json')

Warning message:
“JSON string contains (illegal) UTF8 byte-order-mark!”

In [52]:
head(json_demo_file)

  縣市   經管單位 用途限制                 實際用途 每月租金
1 臺北市 台北所   辦公或住宅或法律許可範圍 商店     22900
2 臺北市 台北所   辦公或住宅或法律許可範圍 辦公室   138000
3 臺北市 台北所   辦公或住宅或法律許可範圍 商店     56899
4 臺北市 台北所   辦公或住宅或法律許可範圍 住家     23050
5 臺北市 台北所   辦公或住宅或法律許可範圍 商店     33294
6 臺北市 台北所   辦公或住宅或法律許可範圍 商店     20020
  租期屆滿            建物面積 構造     總樓層數 建物現況
1 105.12.1-108.11.30  189.8    木石磚造 1        B
2 104.06.07-107.06.06 220.49   磚造     1        B
3 105.2.3-108.2.2     132      加強磚造 2        A
4 104.05.28-107.05.27 102.545  加強磚造 3        C
5 105.3.31-107.3.30   127.92   加強磚造 1        A
6 105.7.2-107.7.1     72       加強磚造 2        B
  房屋座落
1 新北市淡水區鼻頭街10、11、12號(淡水鎮海鷗段316地號)
2 臺北市大同區忠孝西路2段13號(大同區玉泉段2小段371-7、371-20、371-21地號)
3 臺北市大同區赤峰街33巷4號(大同區圓環段二小段151地號)
4 臺北市萬華區康定路56巷3弄3號(萬華區直興段1小段93地號)
5 臺北市中正區臨沂街19巷16號(中正區臨沂段301地號)
6 臺北市中正區汀州路2段73號(臺北市中正區河堤段687-16、687-27地號)
  土地使用分區
1 工業區
2 371-7,371-20為交通廣場用地, 371-21為道路用地
3 第四種住宅區
4 第四種商業區
5 第三種住宅區
6 第三種住宅區及第三之一種住宅區

### read XML file

In [48]:
library(XML)

In [49]:
url = 'http://opendata.epa.gov.tw/ws/Data/ATM00698/?$format=xml'
tmp = xmlToDataFrame(url)

In [53]:
head(tmp)

  SiteName WindDirection WindPower Gust Visibility Temperature Moisture
1 南沙島   西南西        5              10         28.4(+0.0)  88
2 東沙島   西南          3              10         29.6(+1.6)  87
3 馬祖     東            1                         28.0(-3.6)  89
4 金門     東南東        1                         29.7(-0.8)  92
5 東吉島   東南          4                         29.5(+0.7)  83
6 澎湖     南南東        3              25         30.3(+0.5)  83
  AtmosphericPressure Weather Rainfall1day Unit       DataCreationDate
1 1009.7              晴      0.0          中央氣象局 107/8/14 9:00:00
2 999.0               陰      0.0          中央氣象局 107/8/14 9:00:00
3 1001.7                      4.0          中央氣象局 107/8/14 9:00:00
4 1000.9                      13.0         中央氣象局 107/8/14 9:00:00
5 1000.8                      0.0          中央氣象局 107/8/14 9:00:00
6 1000.0              晴      0.0          中央氣象局 107/8/14 9:00:00

In [54]:
x=5;
if(x>3){
  print("x > 3");
}else{
  print("x <= 3");
}

[1] "x > 3"

In [55]:
if(x>3) print("x > 3") else print("x <= 3")

[1] "x > 3"

In [56]:
ifelse(x>3,"x > 3","x <= 3")

[1] "x > 3"

In [57]:
x=5;
if(x>3){
  print ("x > 3");
} else if (x ==3){
  print ("x == 3");
}else{
  print("x <= 3");
}

[1] "x > 3"

In [58]:
switch(2,print('aaa'),print('bbb'),print('ccc'))

[1] "bbb"

In [59]:
switch('third',first = print('aaa'),second = print('bbb'),third = print('ccc'))

[1] "ccc"

In [61]:
for(i in 1:10){
  print(i);
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [62]:
url = 'https://tw.appledaily.com/new/realtime/'

In [64]:
for(i in 1:10){
    print(paste(url,i,sep=''))
}

[1] "https://tw.appledaily.com/new/realtime/1"
[1] "https://tw.appledaily.com/new/realtime/2"
[1] "https://tw.appledaily.com/new/realtime/3"
[1] "https://tw.appledaily.com/new/realtime/4"
[1] "https://tw.appledaily.com/new/realtime/5"
[1] "https://tw.appledaily.com/new/realtime/6"
[1] "https://tw.appledaily.com/new/realtime/7"
[1] "https://tw.appledaily.com/new/realtime/8"
[1] "https://tw.appledaily.com/new/realtime/9"
[1] "https://tw.appledaily.com/new/realtime/10"

In [ ]:
### for loop in python
# for i in range(1,10+1):
#     print(i)

In [65]:
mat = matrix(1:9, byrow=TRUE, nrow=3)
mat

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [66]:
for(i in 1:nrow(mat)){
    for(j in 1:ncol(mat)){
        print(mat[i,j])
    }
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9

In [67]:
1:nrow(mat)

[1] 1 2 3

In [68]:
?seq_len

In [72]:
seq_len(nrow(mat))

[1] 1 2 3

### for loop keywords: break/next

In [73]:
for(i in 1:10){
    if(i == 5) break;
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [74]:
for(i in 1:10){
    if(i == 5) next;
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [70]:
sum = 0;
cnt = 0;
while(cnt <= 100){
  sum = sum + cnt;
  cnt = cnt + 1;
}
print(sum)

[1] 5050

### p86 practice

In [82]:
rep(1,9^2)

 [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
[39] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
[77] 1 1 1 1 1

In [83]:
mat = matrix(rep(1,9^2),nrow=9)
mat

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9]
 [1,] 1    1    1    1    1    1    1    1    1
 [2,] 1    1    1    1    1    1    1    1    1
 [3,] 1    1    1    1    1    1    1    1    1
 [4,] 1    1    1    1    1    1    1    1    1
 [5,] 1    1    1    1    1    1    1    1    1
 [6,] 1    1    1    1    1    1    1    1    1
 [7,] 1    1    1    1    1    1    1    1    1
 [8,] 1    1    1    1    1    1    1    1    1
 [9,] 1    1    1    1    1    1    1    1    1

In [88]:
for(i in 1:9){
    for(j in 1:9){
#         mat[i,j] = paste(i,"*",j,"=",i*j)
        mat[i,j] = sprintf("%s * %s = %s",i,j,i*j)
    }
}

In [89]:
mat

      [,1]      [,2]       [,3]       [,4]       [,5]       [,6]
 [1,] 1 * 1 = 1 1 * 2 = 2  1 * 3 = 3  1 * 4 = 4  1 * 5 = 5  1 * 6 = 6
 [2,] 2 * 1 = 2 2 * 2 = 4  2 * 3 = 6  2 * 4 = 8  2 * 5 = 10 2 * 6 = 12
 [3,] 3 * 1 = 3 3 * 2 = 6  3 * 3 = 9  3 * 4 = 12 3 * 5 = 15 3 * 6 = 18
 [4,] 4 * 1 = 4 4 * 2 = 8  4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24
 [5,] 5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30
 [6,] 6 * 1 = 6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36
 [7,] 7 * 1 = 7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42
 [8,] 8 * 1 = 8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48
 [9,] 9 * 1 = 9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54
      [,7]       [,8]       [,9]
 [1,] 1 * 7 = 7  1 * 8 = 8  1 * 9 = 9
 [2,] 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
 [3,] 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
 [4,] 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
 [5,] 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
 [6,] 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
 [7,] 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
 [8,] 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
 [9,] 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

In [90]:
mat1 = matrix(1:9,nrow = 9)
mat2 = matrix(1:9,nrow = 1)

In [91]:
mat1

      [,1]
 [1,] 1
 [2,] 2
 [3,] 3
 [4,] 4
 [5,] 5
 [6,] 6
 [7,] 7
 [8,] 8
 [9,] 9

In [92]:
mat2

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9]
[1,] 1    2    3    4    5    6    7    8    9

In [93]:
mat1 %*% mat2

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9]
 [1,] 1     2    3    4    5    6    7    8    9
 [2,] 2     4    6    8   10   12   14   16   18
 [3,] 3     6    9   12   15   18   21   24   27
 [4,] 4     8   12   16   20   24   28   32   36
 [5,] 5    10   15   20   25   30   35   40   45
 [6,] 6    12   18   24   30   36   42   48   54
 [7,] 7    14   21   28   35   42   49   56   63
 [8,] 8    16   24   32   40   48   56   64   72
 [9,] 9    18   27   36   45   54   63   72   81

In [94]:
?sum

In [95]:
f = function(a){
    return(a+3)
}

In [96]:
f(a=4)

[1] 7

In [97]:
f2 = function(a){
    a+3
}

In [98]:
f2(a=4)

[1] 7

In [99]:
f3 = function(a, b = 2, c = NULL) {
   return(a+b)
}

In [101]:
f3(a=4)

[1] 6

In [102]:
f4 = function(a, b = 2, c = NULL) {
   return(b)
}

In [103]:
f4()

[1] 2

In [105]:
b=5
f5 = function() {
    b = 2
    return(b)
}

In [106]:
f5()

[1] 2